@model progettoProva2.Models.Job
@{
    ViewData["Title"] = "Rerun";
}

<h1>We're rerunning the selected job.'</h1>

@*<div class="form-group">
    <input type="button" value="Rerun" class="btn btn-primary" onclick="location.href = '@Url.Action("Rerun","Job")'"><input/>
</div>*@
@*<button type="button"  onclick="location.href = '@Url.Action("Rerun","Job")'">Rerun1</button>*@